@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --BACKGROUND: #000000;
  --SUB_BACKGROUND: #333333;
  --BACKGROUND_BORDER: #1e1c1c;
  --TEXT: #FFFFFF;
  --SUB_TEXT: #b0b0b0;
}

html, body {
  overflow-x: hidden;
  color: var(--TEXT);
  background-color: var(--BACKGROUND);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--TEXT);
}

ul {
  list-style-type: none;
}

button {
  border-radius: 10px;
  background: none;
  outline: none;
  color: var(--TEXT);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 2em;
  border: none;
}

.icon {
  height: 50px;
  width: 50px;
}

.icon:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transform: scale(1.1);
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.under-development {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.in-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.under-development-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: black 1px 1px 3px;
  background: url("../assets/under_development.gif") no-repeat center center fixed;
  background-size: cover;
}

/* * {
  border: 1px white solid;
} */