@import url("./common_styles.css");

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: none;
  padding: 18px 40px;
  z-index: 10;
  transition: all 0.5s;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar a {
  color: var(--TEXT);
  text-decoration: none;
  text-shadow: 3px 3px black;

}

.nav-bar a:hover {
  color: var(--SUB_TEXT);
}

.nav-bar .right ul {
  display: flex;
  gap: 1.5rem;
}

.not-on-top {
  background-color: black;
  box-shadow: rgba(256, 256, 256, 0.2) -5px 7px 29px 0px;
}
