@import url("./common_styles.css");

.apply-spacing {
  padding: 0 10em;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.section-title {
  margin-bottom: 0.5em;
}

.section-subtext {
  color: var(--SUB_TEXT);
  margin-top: -1em;
  font-weight: 300;
  font-style: italic;
}

.scroll-offset {
  scroll-margin-top: 4em;
}

.view-more {
  color: var(--SUB_TEXT);
  font-weight: 300;
  font-style: italic;
  font-size: small;
}

.view-more:hover {
  color: var(--TEXT);
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Header Styles */

#header {
  /* background: url("../assets/header_img.jpeg") no-repeat center center fixed; */
  background: linear-gradient(black, rgb(23, 23, 23));
  background-size: cover;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--TEXT);
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

#header h1 {
  color: var(--TEXT);
  font-size: 5rem;
  line-height: 100%;
  text-wrap: wrap;
}

#header h6 {
  color: var(--SUB_TEXT);
  font-size: 1.1rem;
  font-weight: 500;
  text-wrap: wrap;
}

#header p {
  color: var(--SUB_TEXT);
  font-weight: 500;
  font-size: 0.8rem;
  text-wrap: wrap;
}

#mouse-container {
  opacity: 0.8;
  position: absolute;
  bottom: 5%;
  left: 50%;
  border: 2px solid white;
  border-radius: 30px;
  animation: mouse-bounce 3s infinite ease;
  height: 50px;
  width: 30px;
  margin-left: -15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#mouse-scroll {
  position: absolute;
  top: 20%;
  border-radius: 50%;
  left: 50%;
  height: 6px;
  width: 6px;
  margin-left: -3px;
  background-color: white;
  animation: mouse-scroll 1.5s infinite ease-out;
}

@keyframes mouse-bounce {
  0%, 30%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20%);
  }
}

@keyframes mouse-scroll {
  to {
    opacity: 0;
    transform: translateY(300%);
  }
}

@media (max-width: 200px) {
  #mouse-container {
    display: none;
  }
}

#header .text-shadow {
  text-shadow: 2px 2px rgb(40, 40, 40);
}

#star-canvas {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}

#about .contents {
  display: flex;
  align-items: center;
  gap: 5em;
}

#about .contents .picture {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
}

#about .text-contents {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
  width: auto;
  height: auto;
  font-size: 90%;
  font-weight: 300;
}

#about .text-contents a {
  color: var(--TEXT);
}

@media (max-width: 1056px) {
  .apply-spacing {
    padding: 0 10%;
  }
  
  .txt-align-center {
    align-items: center;
  }

  #about .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  #about .text-contents {
    text-align: center;
  }
}

#info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 0 5%;
}

#info-bar-location {
  display: flex;
  align-items: center;
  gap: 1em;
}

#location-txt {
  /* margin-left: -10%; */
  font-style: italic;
  font-weight: 300;
}

#info-bar-socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

#info-bar-pin {
  height: 60px;
  width: 60px;
}

#info-bar-mail {
  height: 65px;
  width: 65px;
}

#info-bar-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
}

#info-bar-btns button {
  border: 3px solid rgb(55, 55, 55);
  position: relative;
  z-index: 0;
}

#info-bar-btns img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 1em;
} 

.text-bounce {
  display: flex;
  flex-wrap: nowrap;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(to bottom right,#0130ea, #7a00ff, #cd02a1);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.text-bounce { 
  width: 100%;
  height: 100%;
}

.wave-animation span {
  display: inline-block;
  animation: wave-anim 1s 1;
  animation-delay: calc(0.05s * var(--i));
  animation-fill-mode: forwards;
}

@keyframes wave-anim {
  0%, 40%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }
}

#tech-stack .contents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  gap: 0.6em;
  row-gap: 8px;
}

.dev-tool-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  box-sizing: border-box;
  background-color: var(--SUB_BACKGROUND);
  padding: 0.3em 0.7em;
  border-radius: 20px;
  border: 4px solid var(--BACKGROUND_BORDER);
}

.dev-tool-div:hover {
  animation: highlight-bg 0.4s ease;
  animation-fill-mode: forwards;  
}

@keyframes highlight-bg {
  to {
    background-color: #444444;
  }
}

.dev-tool-div img {
  width: 30px;
  height: 30px;
}

.dev-tool-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.dev-tool-name {
  font-size: 100%;
}

.dev-tool-description {
  margin-top: -0.1em;
  font-weight: 300;
  font-size: 70%;
}

#experiences .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  border-left: 4px double rgb(90, 90, 90);
  padding: 1rem 0;
}

.work-information {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  row-gap: 0.3rem;
  border-bottom: 4px double rgb(90, 90, 90);
  padding-bottom: 0.7rem;
}

.org-info-container {
  display: flex;
  align-items: end;
  gap: 0.7rem;
  flex-wrap: nowrap;
}

.org-logo {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 1rem;
}

.organization-name {
  font-size: 1.2rem;
}

.work-period {
  color: var(--SUB_TEXT);
  font-style: italic;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 1rem;
}

.work-detail {
  padding-top: 0.7rem;
  margin-left: 1rem;
}

.role {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}

.work-description {
  font-weight: 300;
  font-size: 0.8rem;
}

#project-sect .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-sect .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.project-card-container {
  width: 70vw;
  height: 100%;
  border: 1.5px solid var(--SUB_BACKGROUND);
  border-radius: 10px;
}

.visual-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;

  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.visual-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
}

.visual-container:hover img {
  transform: scale(1.1);
  animation: darken 0.3s ease-out 1 forwards;
}

@keyframes darken {
  to {
    filter: brightness(0.6);
  }
}

.visual-container:hover .project-stack,
.visual-container:hover .project-description {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.project-stack,
.project-description {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease, transform 0.4s ease;
  padding-left: 1rem;
  z-index: 2;
}

.project-stack {
  font-weight: 300;
  display: flex;
  gap: 0.5rem;
}

.project-tech {
  font-size: 0.7rem;
  padding: 0 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.project-tech:not(:last-child)::after {
  content: ",";
}

.project-description {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.project-name {
  font-size: 1.5rem;
}

.title-container .icon {
  width: 30px;
  height: 30px;
}
