@import url("./common_styles.css");

#header {
  background: url("../assets/header_img.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--TEXT);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header h1 {
  color: var(--TEXT);
  font-size: 400%;
  animation: fade-in-and-translate 1s ease;
}

#header h6 {
  color: var(--TEXT);
  font-size: 100%;
  animation: fade-in-and-translate 1.6s ease;
}

#header .text-shadow {
  text-shadow: 2px 2px rgb(40, 40, 40);
}

@keyframes fade-in-and-translate {
  from {
    translate: 0 100px;
    opacity: 0;
  }
}

.apply-spacing {
  padding: 0 10em;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.section-title {
  margin-bottom: 0.5em;
}

.section-subtext {
  color: var(--SUB_TEXT);
  margin-top: -1em;
  font-weight: 300;
  font-style: italic;
}

.scroll-offset {
  scroll-margin-top: 4em;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}

#about .contents {
  display: flex;
  align-items: center;
  gap: 5em;
}

#about .contents .picture {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
}

#about .text-contents {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
  width: auto;
  height: auto;
  font-size: 90%;
  font-weight: 300;
}

#about .text-contents a {
  color: var(--TEXT);
}

@media (max-width: 1056px) {
  .apply-spacing {
    padding: 0 10%;
  }
  
  .txt-align-center {
    align-items: center;
  }

  #about .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  #about .text-contents {
    text-align: center;
  }
}

#info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 0 5%;
}

#info-bar-location {
  display: flex;
  align-items: center;
  gap: 1em;
}

#location-txt {
  /* margin-left: -10%; */
  font-style: italic;
  font-weight: 300;
}

#info-bar-socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

#info-bar-socials .icon {
  height: 50px;
  width: 50px;
}

#info-bar-pin {
  height: 60px;
  width: 60px;
}

#info-bar-mail {
  height: 65px;
  width: 65px;
}

#info-bar-socials .icon:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transform: scale(1.1);
}

#info-bar-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
}

#info-bar-btns button {
  border: 3px solid rgb(55, 55, 55);
  position: relative;
  z-index: 0;
}

#info-bar-btns img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 1em;
} 

.text-bounce {
  display: flex;
  flex-wrap: nowrap;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(to bottom right,#0130ea, #7a00ff, #cd02a1);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.text-bounce { 
  width: 100%;
  height: 100%;
}

.wave-animation span {
  display: inline-block;
  animation: wave-anim 1s 1;
  animation-delay: calc(0.05s * var(--i));
  animation-fill-mode: forwards;
}

@keyframes wave-anim {
  0%, 40%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }
}

#tech-stack .contents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  gap: 0.6em;
  row-gap: 8px;
}

.dev-tool-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  box-sizing: border-box;
  background-color: var(--SUB_BACKGROUND);
  padding: 0.3em 0.7em;
  border-radius: 20px;
  border: 4px solid var(--BACKGROUND_BORDER);
}

.dev-tool-div:hover {
  animation: highlight-bg 0.4s ease;
  animation-fill-mode: forwards;  
}

@keyframes highlight-bg {
  to {
    background-color: #444444;
  }
}

.dev-tool-div img {
  width: 30px;
  height: 30px;
}

.dev-tool-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.dev-tool-name {
  font-size: 100%;
}

.dev-tool-description {
  margin-top: -0.1em;
  font-weight: 300;
  font-size: 70%;
}

#experiences .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  border-left: 4px double rgb(90, 90, 90);
  padding: 1rem 0;
}

.work-information {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  row-gap: 0.3rem;
  border-bottom: 4px double rgb(90, 90, 90);
  padding-bottom: 0.7rem;
}

.org-info-container {
  display: flex;
  align-items: end;
  gap: 0.7rem;
  flex-wrap: nowrap;
}

.org-logo {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 1rem;
}

.organization-name {
  font-size: 1.2rem;
}

.work-period {
  color: var(--SUB_TEXT);
  font-style: italic;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 1rem;
}

.work-detail {
  padding-top: 0.7rem;
  margin-left: 1rem;
}

.role {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}

.work-description {
  font-weight: 300;
  font-size: 0.8rem;
}
